{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
    <!-- OPACITY SCREEN FOR SEARCH INPUT FOCUS -->
    <div class="absolute w-full h-screen bg-gray-200 opacity-40 z-40 hidden" id="opacitiScreen" onclick="closeScreen()">
    </div>
  </div>
  <!-- MAIN -->
  <div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
      <div class="relative overflow-x-auto rounded-2xl border">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
          <thead class="hidden md:table-header-group text-xs text-gray-700 bg-gray-50">
            <tr>
              <th scope="col" class="px-16 py-3">
                <span class="sr-only">تصویر</span>
              </th>
              <th scope="col" class="md:pr-6 py-3">
                نام محصول
              </th>
              <th scope="col" class="pr-10 py-3">
                تعداد
              </th>
              <th scope="col" class="px-6 py-3">
                قیمت
              </th>
              <th scope="col" class="px-6 py-3">
                دستورات
              </th>
            </tr>
          </thead>
          <tbody class="grid grid-cols-1 sm:grid-cols-2 md:contents gap-5">
            {% for item in cart_items %}
            <tr class="bg-white border-b hover:bg-gray-50 grid grid-cols-1 justify-items-center md:table-row">
              <td class="p-4">
                <img src="{{item.product_obj.image1.url}}" class="w-48 md:w-32 max-w-full max-h-full rounded-lg" alt="">
              </td>
              <td class="md:pr-6 py-4 text-sm opacity-90 text-gray-900">
                {{item.product_obj.title}}
              </td>
              <td class="px-6 py-4">
                <div>
                    <button class="decrement-btn w-8 h-8 rounded-full border text-lg font-semibold focus:outline-none" 
                            onclick="updateQuantity('{{ item.product_obj.id }}', -1)">−</button>
                    <input class="quantity-input w-12 h-8 mx-2 text-center border rounded-lg focus:outline-none" 
                           type="number" 
                           min="1" 
                           max="{{ item.product_obj.stock }}" 
                           value="{{ item.quantity }}" 
                           data-product-id="{{ item.product_obj.id }}"
                           readonly>
                    <button class="increment-btn w-8 h-8 rounded-full border text-lg font-semibold focus:outline-none" 
                            onclick="updateQuantity('{{ item.product_obj.id }}', 1)">+</button>
                </div>
            </td>
              <td class="px-6 py-4 text-sm opacity-90 text-gray-900 formatted-price">
                {{item.total_price}}
              </td>
              <td class="px-6 py-4">
                <a href="#" class=" text-red-600">حذف</a>
              </td>
            </tr>
         {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="border shadow-xl rounded-2xl mx-auto max-w-xl mt-7 flex flex-col gap-y-5 py-5 px-5 md:px-20">
        <div class="flex justify-between">
          <div>
            قیمت کل:
          </div>
          <div class="flex gap-x-1 formatted-price">
            <div>
              {{total_payment_price}}
            </div>
          </div>
        </div>
        <div class="flex justify-between">
          <div>
            حمل و نقل:
          </div>
          <div class="flex gap-x-1">
            <div>
              40,000
            </div>
            <div>
              تومان
            </div>
          </div>
        </div>
        <div class="flex justify-between">
          <div>
            سود شما از این خرید:
          </div>
          <div class="flex gap-x-1">
            <div>
              80,000
            </div>
            <div>
              تومان
            </div>
          </div>
        </div>
        <div class="flex justify-between">
          <div class="text-red-600">
            مجموع نهایی:
          </div>
          <div class="flex gap-x-1">
            <div>
              1,200,000
            </div>
            <div>
              تومان
            </div>
          </div>
        </div>
      </div>
      <a href="checkout.html" class="flex justify-center items-center opacity-90 my-5">
        <button class="px-7 py-2 text-center text-white bg-red-500 align-middle border-0 rounded-lg shadow-md text-sm">تایید و پرداخت</button>
      </a>
    </div>
  </div>

</body>
  <!--DROPDOWNS FOR NAVBAR-->
  <script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer>
  </script>
  <!--MOBILE NAVBAR-->
  <script src="{% static 'assets/js/navbar.js' %}"></script>
  <!-- SHOW MODAL SEARCH -->
  <script src="{% static 'assets/js/searchBox.js' %}"></script>
  <!-- INPUTS ADD NUMBER -->
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script>
    function updateQuantity(product_id, change) {
        const input = document.querySelector(`input[data-product-id="${product_id}"]`);
        let currentQuantity = parseInt(input.value, 10);
        const maxQuantity = parseInt(input.max, 10);
        const newQuantity = currentQuantity + change;

        if (newQuantity >= 1 && newQuantity <= maxQuantity) {
            // به‌روزرسانی مقدار جدید در ورودی
            input.value = newQuantity;

            // فراخوانی ایجکس برای به‌روزرسانی در سرور
            changeProductQuantity(product_id, newQuantity);
        }
    }

    function changeProductQuantity(product_id, quantity) {
      console.log(product_id, quantity);
        $.ajax({
            url: "{% url 'cart:session-update-product-quantity' %}",
            method: 'POST',
            data: {
                product_id: product_id,
                quantity: quantity,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
                console.log(response);
                window.location.reload();
                // می‌توانید اینجا بدون بارگذاری مجدد، صفحه را به‌روزرسانی کنید
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
</script>
</html>

{% endblock 'content' %}