<div>
    <button class="decrement-btn w-8 h-8 rounded-full border text-lg font-semibold focus:outline-none" 
            onclick="updateDetailQuantity(-1)">−</button>
    <input class="quantity-input w-12 h-8 mx-2 text-center border rounded-lg focus:outline-none" 
           type="number" 
           min="1" 
           max="{{ object.stock }}" 
           value="1" 
           id="quantity-input"
           readonly>
    <button class="increment-btn w-8 h-8 rounded-full border text-lg font-semibold focus:outline-none" 
            onclick="updateDetailQuantity(1)">+</button>
</div>

<div class="price mt-4">
    <p>قیمت کل: <span id="total-price">{{ object.price }}</span> تومان</p>
</div>
<script>
function updateDetailQuantity(change) {
    const input = document.getElementById("quantity-input");
    const totalPrice = document.getElementById("total-price");
    let currentQuantity = parseInt(input.value, 10);
    const maxQuantity = parseInt(input.max, 10);
    const pricePerItem = {{ object.price|safe }}; // قیمت هر واحد محصول

    const newQuantity = currentQuantity + change;

    if (newQuantity >= 1 && newQuantity <= maxQuantity) {
        input.value = newQuantity;

        // محاسبه قیمت کل
        const newTotalPrice = newQuantity * pricePerItem;
        totalPrice.textContent = newTotalPrice.toLocaleString();

        // ارسال درخواست AJAX برای به‌روزرسانی در سرور
        updateProductQuantityServer('{{ object.id }}', newQuantity);
    }
}

function updateProductQuantityServer(object_id, quantity) {
    $.ajax({
        url: "{% url 'cart:session-update-object-quantity' %}",
        method: 'POST',
        data: {
            object_id: object_id,
            quantity: quantity,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (response) {
            console.log("Quantity updated successfully");
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });
}

document.getElementById("add-to-cart").addEventListener("click", function () {
    const quantity = document.getElementById("quantity-input").value;

    $.ajax({
        url: "{% url 'session-add-product' %}",
        method: 'POST',
        data: {
            product_id: '{{ object.id }}',
            quantity: quantity,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (response) {
            alert("محصول با موفقیت به سبد خرید اضافه شد!");
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });
});

</script>


