{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>احراز هویت</title>

  <link rel="stylesheet" href="{% static 'assets/css/output.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/font.css' %}">
  <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  </style>
</head>
<body class="bg-gray-50">
  <div class="flex justify-center items-center text-right h-screen w-96 mx-auto">
    <div class="shadow-xl rounded-2xl p-8 bg-white">
      <form action="" method="post">
        {% csrf_token %}
        <button type="submit"></button>
         <div class="mb-2">
          <a href="index.html">
            <img src="{% static 'assets/image/logo.png' %}" alt="" class="w-36 mx-auto">
          </a>
        </div>
        <div class="opacity-80 text-lg mb-5">
          ورود
        </div>
        <div class="text-xs opacity-70 mb-2">
          کد ارسال شده را وارد کنید:
        </div>
        <div class="mb-2">
          <div class="input-field mb-5 flex flex-row-reverse gap-x-4 justify-center">
            <input class="w-full drop-shadow-lg outline-none rounded-2xl py-2 text-center" name="otp_code" type="text" >
            
          </div>
        </div> 
        <div class="text-xs text-red-500" id="verify-code">
        </div>
        <div class="text-center mt-5 mb-3">
          <button class="bg-red-500 hover:bg-red-600 transition text-white opacity-80 rounded-2xl w-full py-2" type="submit">
            ورود
          </button>
        </div>
        <div class="text-xs opacity-80">
           ثبت نام یا ورود شما به منظور پذیرش
          <a href="#" class="text-red-500">قوانین و مقررات</a>
          ایران مارکت می باشد
        </div>
        <div class="flex justify-start items-center mt-5">
          <a class="border-b-2 text-sm border-red-500 hover:text-red-600 transition" href="">
            ورود با رمز عبور
          </a>
          <img class="w-4" src="{% static 'assets/image/arrow-left.png' %}" alt="">
        </div>
      </form> 
    </div>
  </div>
</body>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/verifyUser.js' %}"></script>
</html>
  












<!-- 
<!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 </head>
 <body>
    <form method="post">
      {% csrf_token %}
      {{form}}
      <button type="submit">Submit</button>
    </form>
 </body>
 </html>  -->