{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
  <!-- MAIN -->
  <div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
      <div class="grid place-items-center">
        <div class="w-full md:w-11/12 mx-auto rounded">
          <div class="bg-white px-2 py-5 md:p-10">
            <h3 class="text-lg font-medium text-gray-800">سوالات پرتکرار</h3>
            <p class="text-sm font-light text-gray-600 my-3">
              اگه سوال مورد نظرتون رو پیدا نکردید به 
              <a class="hover:text-red-600 text-red-500 transition" href="">پشتیبانی</a>
              پیام بدید
            </p>
            <div>
              <!-- header -->
              <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-auto min-h-[64px] py-2 sm:h-16 border rounded-xl my-2">
                <h2 class="opacity-80">چطور سفارشمون رو تایید کنیم؟</h2>
              </div>
              <!-- Content -->
              <div class="accordion-content transition-all px-5 pt-0 overflow-hidden max-h-0">
                <p class="leading-6 font-light pl-9 text-justify opacity-70 pt-2">
                با تسویه کردن سبد خرید، سفارش به صورت خودکار تایید میشه.ونیاز به کار خاصی از طرف شما یا ما نیست.
                </p>
                <div class="text-left">
                  <button class="text-sm my-5 opacity-80 text-red-600 hover:text-red-700 transition">توضیحات بیشتر</button>
                </div>
              </div>
            </div>
            <div>
              <!-- header -->
              <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-auto min-h-[64px] py-2 sm:h-16 border rounded-xl my-2">
                <h2 class="opacity-80">شرایط گارانتی</h2>
              </div>
              <!-- Content -->
              <div class="accordion-content transition-all px-5 pt-0 overflow-hidden max-h-0">
                <p class="leading-6 font-light pl-9 text-justify opacity-70 pt-2">
                با تسویه کردن سبد خرید، سفارش به صورت خودکار تایید میشه.ونیاز به کار خاصی از طرف شما یا ما نیست.
                </p>
                <div class="text-left">
                  <button class="text-sm my-5 opacity-80 text-red-600 hover:text-red-700 transition">توضیحات بیشتر</button>
                </div>
              </div>
            </div>
            <div>
              <!-- header -->
              <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-auto min-h-[64px] py-2 sm:h-16 border rounded-xl my-2">
                <h2 class="opacity-80">شرایط استفاده از کد تخفیف اولین خرید چیست؟</h2>
              </div>
              <!-- Content -->
              <div class="accordion-content transition-all px-5 pt-0 overflow-hidden max-h-0">
                <p class="leading-6 font-light pl-9 text-justify opacity-70 pt-2">
                با تسویه کردن سبد خرید، سفارش به صورت خودکار تایید میشه.ونیاز به کار خاصی از طرف شما یا ما نیست.
                </p>
                <div class="text-left">
                  <button class="text-sm my-5 opacity-80 text-red-600 hover:text-red-700 transition">توضیحات بیشتر</button>
                </div>
              </div>
            </div>
            <div>
              <!-- header -->
              <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-auto min-h-[64px] py-2 sm:h-16 border rounded-xl my-2">
                <h2 class="opacity-80">چطور میتوانم امتیاز‌ بگیریم؟</h2>
              </div>
              <!-- Content -->
              <div class="accordion-content transition-all px-5 pt-0 overflow-hidden max-h-0">
                <p class="leading-6 font-light pl-9 text-justify opacity-70 pt-2">
                با تسویه کردن سبد خرید، سفارش به صورت خودکار تایید میشه.ونیاز به کار خاصی از طرف شما یا ما نیست.
                </p>
                <div class="text-left">
                  <button class="text-sm my-5 opacity-80 text-red-600 hover:text-red-700 transition">توضیحات بیشتر</button>
                </div>
              </div>
            </div>
            <div>
              <!-- header -->
              <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-auto min-h-[64px] py-2 sm:h-16 border rounded-xl my-2">
                <h2 class="opacity-80">هزینه ی ارسال چگونه محاسبه میشود؟</h2>
              </div>
              <!-- Content -->
              <div class="accordion-content transition-all px-5 pt-0 overflow-hidden max-h-0">
                <p class="leading-6 font-light pl-9 text-justify opacity-70 pt-2">
                با تسویه کردن سبد خرید، سفارش به صورت خودکار تایید میشه.ونیاز به کار خاصی از طرف شما یا ما نیست.
                </p>
                <div class="text-left">
                  <button class="text-sm my-5 opacity-80 text-red-600 hover:text-red-700 transition">توضیحات بیشتر</button>
                </div>
              </div>
            </div>
            <div>
              <!-- header -->
              <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-auto min-h-[64px] py-2 sm:h-16 border rounded-xl my-2">
                <h2 class="opacity-80">میتوانم سفارشم را بصورت اقساطی ( اعتباری ) پرداخت کنم؟</h2>
              </div>
              <!-- Content -->
              <div class="accordion-content transition-all px-5 pt-0 overflow-hidden max-h-0">
                <p class="leading-6 font-light pl-9 text-justify opacity-70 pt-2">
                با تسویه کردن سبد خرید، سفارش به صورت خودکار تایید میشه.ونیاز به کار خاصی از طرف شما یا ما نیست.
                </p>
                <div class="text-left">
                  <button class="text-sm my-5 opacity-80 text-red-600 hover:text-red-700 transition">توضیحات بیشتر</button>
                </div>
              </div>
            </div>
            <div>
              <!-- header -->
              <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-auto min-h-[64px] py-2 sm:h-16 border rounded-xl my-2">
                <h2 class="opacity-80">چطور میتوانم سفارشم را لغو کنم ؟</h2>
              </div>
              <!-- Content -->
              <div class="accordion-content transition-all px-5 pt-0 overflow-hidden max-h-0">
                <p class="leading-6 font-light pl-9 text-justify opacity-70 pt-2">
                با تسویه کردن سبد خرید، سفارش به صورت خودکار تایید میشه.ونیاز به کار خاصی از طرف شما یا ما نیست.
                </p>
                <div class="text-left">
                  <button class="text-sm my-5 opacity-80 text-red-600 hover:text-red-700 transition">توضیحات بیشتر</button>
                </div>
              </div>
            </div>
            <div>
              <!-- header -->
              <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-auto min-h-[64px] py-2 sm:h-16 border rounded-xl my-2">
                <h2 class="opacity-80">چطور درخواست خود را جهت بازگرداندن کالا (مرجوعی کالا) به شما اطلاع دهم؟</h2>
              </div>
              <!-- Content -->
              <div class="accordion-content transition-all px-5 pt-0 overflow-hidden max-h-0">
                <p class="leading-6 font-light pl-9 text-justify opacity-70 pt-2">
                با تسویه کردن سبد خرید، سفارش به صورت خودکار تایید میشه.ونیاز به کار خاصی از طرف شما یا ما نیست.
                </p>
                <div class="text-left">
                  <button class="text-sm my-5 opacity-80 text-red-600 hover:text-red-700 transition">توضیحات بیشتر</button>
                </div>
              </div>
            </div>
            <div>
              <!-- header -->
              <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-auto min-h-[64px] py-2 sm:h-16 border rounded-xl my-2">
                <h2 class="opacity-80">مشرایط خرید و بازگرداندن کالا برای کالاهای سوپر مارکتی چگونه است؟</h2>
              </div>
              <!-- Content -->
              <div class="accordion-content transition-all px-5 pt-0 overflow-hidden max-h-0">
                <p class="leading-6 font-light pl-9 text-justify opacity-70 pt-2">
                با تسویه کردن سبد خرید، سفارش به صورت خودکار تایید میشه.ونیاز به کار خاصی از طرف شما یا ما نیست.
                </p>
                <div class="text-left">
                  <button class="text-sm my-5 opacity-80 text-red-600 hover:text-red-700 transition">توضیحات بیشتر</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>

</body>
  <!--DROPDOWNS FOR NAVBAR-->
  <script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer>
  </script>
  <!--MOBILE NAVBAR-->
  <script src="{% static 'assets/js/navbar.js' %}"></script>
  <!-- SHOW MODAL SEARCH -->
  <script src="{% static 'assets/js/searchBox.js' %}"></script>
  <!-- FAQ JS -->
  <script src="{% static 'assets/js/faq.js' %}"></script>
</html>
{% endblock 'content' %}