{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
  <!-- MAIN -->
  <div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
      <div class="flex flex-col md:flex-row gap-5">
        {% include 'dashboard/customer/sidebar.html' %}
        <div class="md:w-8/12 lg:w-9/12 flex flex-col gap-y-5">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="hidden md:table-header-group text-xs text-gray-700 bg-gray-50">
              <tr>
                <th scope="col" class="py-3">
                  <span class="sr-only">تصویر</span>
                </th>
                <th scope="col" class="md:pr-6 py-3">
                  نام محصول
                </th>
                <th scope="col" class="pr-5 py-3">
                  نظر
                </th>
                <th scope="col" class="px-6 py-3">
                  وضعیت
                </th>
                <th scope="col" class="px-3 py-3">
                  عملیات
                </th>
              </tr>
            </thead>
            <tbody class="grid grid-cols-1 sm:grid-cols-2 md:contents gap-5">
              {% for object in object_list %}
              <tr class="bg-white hover:bg-gray-50 grid grid-cols-1 justify-items-center md:table-row border-x sm:border-x-0 sm:border-b">
                <td class="px-2 py-4">
                  <img src="{{object.product.image1.url}}" class="w-48 md:w-28 max-w-full max-h-full rounded-lg" alt="">
                </td>
                <td class="md:pr-6 py-4 text-xs opacity-90 text-gray-900">
                  {{object.product}}
                </td>
                <td class="px-3 py-4 max-w-md text-xs">
                {{object.description}}
                </td>
                <td class="px-6 py-4 text-sm opacity-90 text-green-500">
                  {{object.get_status.label}}
                </td>
                <form action="{% url 'dashboard:customer:comment-delete' pk=object.pk %}" method="post">
                  {% csrf_token %}
                  <td class="px-2 py-4">
                  <button  class="text-red-600" type="submit">حذف</button>
                 
                </td>
                </form>
              </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>
 
{% endblock 'content' %}