{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Home{% endblock 'title' %}
{% block 'content' %}
    <!-- MAIN -->
    <div class="max-w-[1440px] mx-auto px-3">
      <!-- HERO SLIDER -->
      <div class="md:w-[100%] mx-auto md:mt-5 hidden md:block">
        <div dir="ltr" class="owl-carousel">
          <div class="box-border">
            <a href="#"
              ><img class="rounded-md md:rounded-3xl md:px-2 box-border" src="./{% static 'assets/image/category-index/heroSlider1.jpg' %}" alt=""
            /></a>
          </div>
          <div class="box-border">
            <a href="#"
              ><img class="rounded-md md:rounded-3xl md:px-2 " src="./{% static 'assets/image/category-index/heroSlider2.jpg' %}" alt=""
            /></a>
          </div>
          <div class="box-border">
            <a href="#"
              ><img class="rounded-md md:rounded-3xl md:px-2 " src="./{% static 'assets/image/category-index/heroSlider3.jpg' %}" alt=""
            /></a>
          </div>
          <div class="box-border">
            <a href="#"
              ><img class="rounded-md md:rounded-3xl md:px-2 " src="./{% static 'assets/image/category-index/heroSlider4.jpg' %}" alt=""
            /></a>
          </div>
        </div>
      </div>
      <!-- HERO SLIDER MOBILE -->
      <div class="md:w-[100%] mx-auto md:mt-5 md:hidden">
        <div dir="ltr" class="owl-carousel">
          <div class="box-border">
            <a href="./search.html"
              ><img class="rounded-md md:rounded-3xl md:px-2 box-border" src="./{% static 'assets/image/category-index/heroSlider1mobile.jpg' %}" alt=""
            /></a>
          </div>
          <div class="box-border">
            <a href="./search.html"
              ><img class="rounded-md md:rounded-3xl md:px-2 " src="./{% static 'assets/image/category-index/heroSlider2mobile.jpg' %}" alt=""
            /></a>
          </div>
          <div class="box-border">
            <a href="./search.html"
              ><img class="rounded-md md:rounded-3xl md:px-2 " src="./{% static 'assets/image/category-index/heroSlider3mobile.jpg' %}" alt=""
            /></a>
          </div>
          <div class="box-border">
            <a href="./search.html"
              ><img class="rounded-md md:rounded-3xl md:px-2 " src="./{% static 'assets/image/category-index/heroSlider4mobile.jpg' %}" alt=""
            /></a>
          </div>
        </div>
      </div>
      <!-- SECTION IMAGE -->
      <div>
        <a href="./search.html">
          <img class="rounded-2xl hidden md:block" src="./{% static 'assets/image/category-index/banner.jpg' %}" alt="">
        </a>
        <a href="./search.html"></a>
          <img class="rounded-2xl md:hidden" src="./{% static 'assets/image/category-index/bannerMobile.jpg' %}" alt="">
        </a>
      </div>
      <!-- PRODUCT SLIDER 1 -->
      <div class="bg-white rounded-2xl pt-10 shadow-xl my-10">
        <!-- TOP SLIDER -->
        <div class="flex justify-between px-5 md:px-10 items-center">
          <div class="border-b-2 border-red-500 pb-1">پرتخفیف ترین ها</div>
          <a href="./search.html"><div class="transition px-4 py-2 rounded-xl flex justify-center items-center text-red-500 hover:text-red-600">دیدن همه<img class="w-4" src="./{% static 'assets/image/arrow-left.png' %}" alt=""></div></a>
        </div>
        <!-- SLIDER -->
        <div class="containerPSlider swiper">
          <div class="slide-container1 px-2">
            <div class="card-wrapper swiper-wrapper pb-4">
              <a href="./single-product.html" class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <div>
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="./{% static 'assets/image/category-index/p1.webp" alt="" />
                  </div>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <div>
                      لپ تاپ ایسوس
                    </div>
                  </span>
                  <div class="flex justify-center text-xs opacity-75">
                    <div class="line-through">1.350.000</div>
                    <div class="line-through">تومان</div>
                  </div>
                  <div class="flex justify-center mt-1 mb-2 text-sm">
                    <div>1.100.000</div>
                    <div>تومان</div>
                  </div>
                </div>
              </a>
              <a href="./single-product.html" class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <div>
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="./{% static 'assets/image/category-index/p2.webp" alt="" />
                  </div>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <div>
                      لپ تاپ TUF5
                    </div>
                  </span>
                  <div class="flex justify-center text-xs opacity-75">
                    <div class="line-through">1.350.000</div>
                    <div class="line-through">تومان</div>
                  </div>
                  <div class="flex justify-center mt-1 mb-2 text-sm">
                    <div>1.100.000</div>
                    <div>تومان</div>
                  </div>
                </div>
              </a>
              <a href="./single-product.html" class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <div>
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="./{% static 'assets/image/category-index/p3.webp" alt="" />
                  </div>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <div>
                      لپ تاپ ایسوس مدل f12
                    </div>
                  </span>
                  <div class="flex justify-center text-xs opacity-75">
                    <div class="line-through">1.350.000</div>
                    <div class="line-through">تومان</div>
                  </div>
                  <div class="flex justify-center mt-1 mb-2 text-sm">
                    <div>1.100.000</div>
                    <div>تومان</div>
                  </div>
                </div>
              </a>
              <a href="./single-product.html" class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <div>
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="./{% static 'assets/image/category-index/p4.webp" alt="" />
                  </div>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <div>
                      لپ تاپ ایسوس مدل m1
                    </div>
                  </span>
                  <div class="flex justify-center text-xs opacity-75">
                    <div class="line-through">1.350.000</div>
                    <div class="line-through">تومان</div>
                  </div>
                  <div class="flex justify-center mt-1 mb-2 text-sm">
                    <div>1.100.000</div>
                    <div>تومان</div>
                  </div>
                </div>
              </a>
              <a href="./single-product.html" class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <div>
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="./{% static 'assets/image/category-index/p5.webp" alt="" />
                  </div>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <div>
                      لپ تاپ ایسوس مدل sh3
                    </div>
                  </span>
                  <div class="flex justify-center text-xs opacity-75">
                    <div class="line-through">1.350.000</div>
                    <div class="line-through">تومان</div>
                  </div>
                  <div class="flex justify-center mt-1 mb-2 text-sm">
                    <div>1.100.000</div>
                    <div>تومان</div>
                  </div>
                </div>
              </a>
              <a href="./single-product.html" class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <div>
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="./{% static 'assets/image/category-index/p6.webp" alt="" />
                  </div>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <div>
                      لپ تاپ لنوو مدل 2m2
                    </div>
                  </span>
                  <div class="flex justify-center text-xs opacity-75">
                    <div class="line-through">1.350.000</div>
                    <div class="line-through">تومان</div>
                  </div>
                  <div class="flex justify-center mt-1 mb-2 text-sm">
                    <div>1.100.000</div>
                    <div>تومان</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="swiper-button-next swiper-navBtn"></div>
          <div class="swiper-button-prev swiper-navBtn"></div>
        </div>
      </div>
      <!-- SECTION IMAGE 2 -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
        <a href="./search.html">
          <img class="rounded-xl" src="./{% static 'assets/image/category-index/section1.jpg' %}" alt="">
        </a>
        <a href="./search.html">
          <img class="rounded-xl" src="./{% static 'assets/image/category-index/section2.jpg' %}" alt="">
        </a>
      </div>
      <!-- GOOD CATEGORYS -->
      <div class="bg-white rounded-2xl py-6 shadow-xl my-10">
        <div class="flex justify-between px-5 pb-5 md:px-10 items-center">
          <div class="border-b-2 border-red-500 pb-1">دسته بندی های محبوب</div>
          <a href="./search.html"><div class="transition px-4 py-2 rounded-xl flex justify-center items-center text-red-500 hover:text-red-600">دیدن همه<img class="w-4" src="./{% static 'assets/image/arrow-left.png' %}" alt=""></div></a>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-x-2 gap-y-4 md:gap-x-4 2xl:gap-x-5 px-3 md:px-8 lg:px-28">
          <a href="./search.html" class="flex justify-center items-center flex-col gap-y-3 hover:scale-105 transition">
            <img src="./{% static 'assets/image/category-index/cat1.png' %}" alt="">
            <div class="text-sm opacity-90">اپل</div>
          </a>
          <a href="./search.html" class="flex justify-center items-center flex-col gap-y-3 hover:scale-105 transition">
            <img src="./{% static 'assets/image/category-index/cat2.png' %}" alt="">
            <div class="text-sm opacity-90">ایسر</div>
          </a>
          <a href="./search.html" class="flex justify-center items-center flex-col gap-y-3 hover:scale-105 transition">
            <img src="./{% static 'assets/image/category-index/cat3.png' %}" alt="">
            <div class="text-sm opacity-90">ایسوس</div>
          </a>
          <a href="./search.html" class="flex justify-center items-center flex-col gap-y-3 hover:scale-105 transition">
            <img src="./{% static 'assets/image/category-index/cat4.png' %}" alt="">
            <div class="text-sm opacity-90">اچ پی</div>
          </a>
          <a href="./search.html" class="flex justify-center items-center flex-col gap-y-3 hover:scale-105 transition">
            <img src="./{% static 'assets/image/category-index/cat5.png' %}" alt="">
            <div class="text-sm opacity-90">لنوو</div>
          </a>
          <a href="./search.html" class="flex justify-center items-center flex-col gap-y-3 hover:scale-105 transition">
            <img src="./{% static 'assets/image/category-index/cat6.png' %}" alt="">
            <div class="text-sm opacity-90">ام اس آی</div>
          </a>
        </div>
      </div>
      <!-- PRODUCT SLIDER 2 -->
      <div class="bg-white rounded-2xl pt-10 shadow-xl my-10">
        <!-- TOP SLIDER -->
        <div class="flex justify-between px-5 md:px-10 items-center">
          <div class="border-b-2 border-red-500 pb-1">محبوب ترین ها</div>
          <a href="./search.html"><div class="transition px-4 py-2 rounded-xl flex justify-center items-center text-red-500 hover:text-red-600">دیدن همه<img class="w-4" src="./{% static 'assets/image/arrow-left.png' %}" alt=""></div></a>
        </div>
        <!-- SLIDER -->
        <div class="containerPSlider swiper">
          <div class="slide-container1 px-2">
            <div class="card-wrapper swiper-wrapper pb-4">
              <a href="./single-product.html" class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <div>
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="./{% static 'assets/image/category-index/p1.webp" alt="" />
                  </div>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <div>
                      لپ تاپ ایسوس
                    </div>
                  </span>
                  <div class="flex justify-center text-xs opacity-75">
                    <div class="line-through">1.350.000</div>
                    <div class="line-through">تومان</div>
                  </div>
                  <div class="flex justify-center mt-1 mb-2 text-sm">
                    <div>1.100.000</div>
                    <div>تومان</div>
                  </div>
                </div>
              </a>
              <a href="./single-product.html" class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <div>
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="./{% static 'assets/image/category-index/p2.webp" alt="" />
                  </div>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <div>
                      لپ تاپ TUF5
                    </div>
                  </span>
                  <div class="flex justify-center text-xs opacity-75">
                    <div class="line-through">1.350.000</div>
                    <div class="line-through">تومان</div>
                  </div>
                  <div class="flex justify-center mt-1 mb-2 text-sm">
                    <div>1.100.000</div>
                    <div>تومان</div>
                  </div>
                </div>
              </a>
              <a href="./single-product.html" class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <div>
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="./{% static 'assets/image/category-index/p3.webp" alt="" />
                  </div>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <div>
                      لپ تاپ ایسوس مدل f12
                    </div>
                  </span>
                  <div class="flex justify-center text-xs opacity-75">
                    <div class="line-through">1.350.000</div>
                    <div class="line-through">تومان</div>
                  </div>
                  <div class="flex justify-center mt-1 mb-2 text-sm">
                    <div>1.100.000</div>
                    <div>تومان</div>
                  </div>
                </div>
              </a>
              <a href="./single-product.html" class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <div>
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="./{% static 'assets/image/category-index/p4.webp" alt="" />
                  </div>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <div>
                      لپ تاپ ایسوس مدل m1
                    </div>
                  </span>
                  <div class="flex justify-center text-xs opacity-75">
                    <div class="line-through">1.350.000</div>
                    <div class="line-through">تومان</div>
                  </div>
                  <div class="flex justify-center mt-1 mb-2 text-sm">
                    <div>1.100.000</div>
                    <div>تومان</div>
                  </div>
                </div>
              </a>
              <a href="./single-product.html" class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <div>
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="./{% static 'assets/image/category-index/p5.webp" alt="" />
                  </div>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <div>
                      لپ تاپ ایسوس مدل sh3
                    </div>
                  </span>
                  <div class="flex justify-center text-xs opacity-75">
                    <div class="line-through">1.350.000</div>
                    <div class="line-through">تومان</div>
                  </div>
                  <div class="flex justify-center mt-1 mb-2 text-sm">
                    <div>1.100.000</div>
                    <div>تومان</div>
                  </div>
                </div>
              </a>
              <a href="./single-product.html" class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <div>
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="./{% static 'assets/image/category-index/p6.webp" alt="" />
                  </div>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <div>
                      لپ تاپ لنوو مدل 2m2
                    </div>
                  </span>
                  <div class="flex justify-center text-xs opacity-75">
                    <div class="line-through">1.350.000</div>
                    <div class="line-through">تومان</div>
                  </div>
                  <div class="flex justify-center mt-1 mb-2 text-sm">
                    <div>1.100.000</div>
                    <div>تومان</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="swiper-button-next swiper-navBtn"></div>
          <div class="swiper-button-prev swiper-navBtn"></div>
        </div>
      </div>
      <!-- BLOG -->
      <div class="bg-white rounded-2xl py-8 shadow-xl my-10">
        <div class="flex justify-between px-5 md:px-10 items-center">
          <div class="text-red-500">خواندنی ها</div>
          <a href="./blog.html"><div class="transition px-4 py-2 rounded-xl flex justify-center items-center text-red-500 hover:text-red-600">مطالب بیشتر<img class="w-4" src="./{% static 'assets/image/arrow-left.png' %}" alt=""></div></a>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-5 px-10 gap-5">
          <a href="./blog(single).html" class="shadow-lg rounded-xl p-3 hover:text-red-600 transition">
            <div>
              <img class="rounded-lg hover:scale-105 transition" src="./{% static 'assets/image/category-index/blog1.jpg' %}" alt="">
            </div>
            <div class="text-sm opacity-90 py-5">
              راهنمای خرید لپ تاپ
            </div>
          </a>
          <a href="./blog(single).html" class="shadow-lg rounded-xl p-3 hover:text-red-600 transition">
            <div>
              <img class="rounded-lg hover:scale-105 transition" src="./{% static 'assets/image/category-index/blog2.jpg' %}" alt="">
            </div>
            <div class="text-sm opacity-90 py-5">
              ایسوس یا لنوو؟
            </div>
          </a>
          <a href="./blog(single).html" class="shadow-lg rounded-xl p-3 hover:text-red-600 transition">
            <div>
              <img class="rounded-lg hover:scale-105 transition" src="./{% static 'assets/image/category-index/blog3.jpg' %}" alt="">
            </div>
            <div class="text-sm opacity-90 py-5">
              مجبوب ترین لپ تاپ ها
            </div>
          </a>
          <a href="./blog(single).html" class="shadow-lg rounded-xl p-3 hover:text-red-600 transition">
            <div>
              <img class="rounded-lg hover:scale-105 transition" src="./{% static 'assets/image/category-index/blog4.jpg' %}" alt="">
            </div>
            <div class="text-sm opacity-90 py-5">
              لپ تاپ جدید ایسوس
            </div>
          </a>
          <a href="./blog(single).html" class="shadow-lg rounded-xl p-3 hover:text-red-600 transition">
            <div>
              <img class="rounded-lg hover:scale-105 transition" src="./{% static 'assets/image/category-index/blog5.jpg' %}" alt="">
            </div>
            <div class="text-sm opacity-90 py-5">
              بهترین لپ تاپ گیمینگ بازار
            </div>
          </a>
        </div>
      </div>
    </div>
{% endblock 'content' %}
