{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
  <!-- MAIN -->
  <div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
      <div class="bg-white mx-5 rounded-2xl mb-4 grid">
        <div class="py-3">
          <h3 class="text-xl font-semibold text-gray-800">جستجو محصولات</h3>
        </div>
      </div>
      <div class="md:flex">
        <div class="md:w-4/12 lg:w-3/12">
          </div>
        </div>
        <div class="md:w-8/12 lg:w-9/12">
          <div class="bg-white mx-1 rounded-2xl grid place-items-center">
            
          </div>
          <div class="bg-white rounded-2xl">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-x-5 px-1 rounded-2xl py-5">
              {% for product in results %}
              <a href="{% url product.namespace slug=product.slug %}" class="my-2 py-2 md:p-3 border rounded-xl flex items-center sm:inline hover:shadow-lg transition">
                <div class="image-box sm:mb-6">
                  <div>
                    <img class="hover:scale-105 transition rounded-md sm:rounded-3xl w-24 sm:w-full mx-auto" src="{{product.image1.url}}" alt="" />
                  </div>
                </div>
                <div class="flex flex-col w-full">
                  <span class="text-xs sm:text-sm opacity-90 mb-5">
                    <div class="leading-7 h-auto">
                      {{product.title}}
                    </div>
                  </span>
                   <!-- نمایش دسته‌بندی‌ها بر اساس نوع مدل -->
                   <div class="flex justify-end mb-2 text-sm opacity-80 pl-3 md:pl-0">
                    {% if product.product_type == "Clothing" %}
                        {% for category in product.category_clothing.all %}
                            <span>{{ category.name }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% elif product.product_type == "Dijitalgoods" %}
                        {% for category in product.category_Dijitalgoods.all %}
                            <span>{{ category.name }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% elif product.product_type == "Homeappliances" %}
                        {% for category in product.category_Homeappliances.all %}
                            <span>{{ category.name }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% elif product.product_type == "Beauty" %}
                        {% for category in product.category_Beauty.all %}
                            <span>{{ category.name }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% elif product.product_type == "Appliances" %}
                        {% for category in product.category_Appliances.all %}
                            <span>{{ category.name }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% elif product.product_type == "Supermarket" %}
                        {% for category in product.category_Supermarket.all %}
                            <span>{{ category.name }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% elif product.product_type == "Child_and_baby" %}
                        {% for category in product.category_Child_and_baby.all %}
                            <span>{{ category.name }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                  {% if product.is_discounted %}
                  <div class="flex justify-end mb-2 text-sm opacity-80 pl-3 md:pl-0 formatted-price">
                    {{product.get_price}}
                    
                  </div>
                  <div class="flex justify-end text-xs opacity-75 pl-3 md:pl-0 ">
                    <div class="line-through formatted-price">{{product.price}}</div>
                    
                  </div>
                  {% else %}
                  <div class="flex justify-end mb-2 text-sm opacity-80 pl-3 md:pl-0 formatted-price">
                    {{product.price}}
                    
                  </div>
                  {% endif %}
                </div>
              </a>
              
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock 'content' %}