{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
  <!-- MAIN -->
  <div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
      <div class="flex flex-col md:flex-row gap-5">
        {% include 'dashboard/customer/sidebar.html' %}
        <div class="md:w-8/12 lg:w-9/12">
          <div class="border rounded-3xl shadow-lg flex flex-col p-5 gap-y-5">
            <div class="border-b pb-3">اطلاعات شخصی</div>
            <div class="flex border-b pb-2">
              <div class="w-1/2">
                <div class="text-xs opacity-80 mb-1">
                  نام و نام خانوادگی:
                </div>
                <div class="text-sm opacity-90">
                  {{request.user.user_profile.get_fullname}}
                </div>
              </div>
              <div class="w-1/2">
                <div class="text-xs opacity-80 mb-1">
                  ایمیل:
                </div>
                <div class="text-sm opacity-90">
                  {{request.user.email}}
                </div>
              </div>
            </div>
            <div class="flex border-b pb-2">
              <div class="w-1/2">
                <div class="text-xs opacity-80 mb-1">
                  شماره تلفن همراه:
                </div>
                <div class="text-sm opacity-90">
                  {{request.user.user_profile.phone_number}}
                </div>
              </div>
              <div class="w-1/2">
                <div class="text-xs opacity-80 mb-1">
                  تاریخ عضویت:
                </div>
                <div class="text-sm opacity-90">
                  {{request.user.created_date|date:"Y-m-d"}}
                </div>
              </div>
            </div>
            <span class="opacity-90">
             <a href="{% url 'dashboard:customer:profile-edit' %}"><button class="px-7 py-2 text-center text-white bg-red-500 align-middle border-0 rounded-lg shadow-md text-sm">ویرایش اطلاعات</button></a>
            </span>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
{% endblock 'content' %}