{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
  <!-- MAIN -->
  <div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
      <div class="container content-space-3 content-space-lg-5">
         <div class="row">
          <div class="col-lg-8 mb-7 mb-lg-0">
            <h4 class="mb-3">انتخاب آدرس </h4>
    
            <!-- Form -->
            <form action="." method="post" id="checkout-form">
            {% csrf_token %}
            <hr class="my-6 border-gray-300">
            <div class="space-y-5">
            {% for address in addresses %}
              <div class="flex items-center gap-2">
                <input type="radio" class="form-check-input rounded-full text-red-500 focus:ring focus:ring-red-300" name="address_id" value="{{address.id}}" required>
                <label class="form-check-label text-gray-700" for="address">
                  {{address.state}}, {{address.city}}, {{address.address}}, {{address.zip_code}}
                </label>
              </div>
            {% endfor %}
            <div class="mt-4">
              <a class="text-sm text-red-500 hover:text-red-700 underline" href="{% url 'dashboard:customer:address-list' %}">مدیریت آدرس‌ها</a>
            </div>
          </div>
          <hr class="my-6 border-gray-300">
          </form>
          <div class="mt-8">
            <div class="flex flex-col md:flex-row items-center gap-3">
              <label for="discount-code" class="text-sm font-medium text-gray-600">کد تخفیف دارید؟ وارد کنید:</label>
              <div class="flex-grow">
                <input name="coupon" class="w-full border border-gray-300 rounded-lg p-2 text-sm focus:ring focus:ring-red-300 focus:outline-none" type="text" name="coupon" form="checkout-form">
              </div>
              <button type="button" class="bg-red-600 text-white px-4 py-2 rounded-lg shadow hover:bg-red-700 transition">
                تایید
              </button>
          </div>
      <div class="border shadow-xl rounded-2xl mx-auto max-w-xl mt-7 flex flex-col gap-y-5 py-5 px-5 md:px-20">
        <div class="flex justify-between">
          <div>
            قیمت کل:
          </div>
          <div class="flex gap-x-1 formatted-price" id="total-price">
            <div>
              {{total_price}}
            </div>
          </div>
        </div>
        <div class="flex justify-between">
          <div>
            حمل و نقل:
          </div>
          <div class="flex gap-x-1 formatted-price">
            <div>
              40000
            </div>
            
          </div>
        </div>
        <div class="flex justify-between">
          <div>
            سود شما از این خرید:
          </div>
          <div class="flex gap-x-1">
            <div>
              80,000
            </div>
            <div>
              تومان
            </div>
          </div>
        </div>
        <div class="flex justify-between">
          <div class="text-red-600">
            مجموع نهایی:
          </div>
          <div class="flex gap-x-1 formatted-price">
            <div>
            {{shipping_price}}
            </div>
            <div>
              تومان
            </div>
          </div>
        </div>
      </div>
      <div class="d-grid">
        <button class="btn btn-primary btn-lg" type="submit" form="checkout-form" >ثبت نهایی</button>
    </div>
    </div>
  </div>
  <script>
    function applyDiscount(total_price){
        $("#total-price").html(total_price)
        

        formatPriceInToman(document.getElementById("total-price"))
        
    }
</script>
{% endblock 'content' %}